html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  min-height: 100%;
}

footer {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

.footerDT {
  width: 100%;
  clear: both;
  height: 88px;
}

footer {
  left: 0;
  bottom: 0;
  min-width: 1200px;
  width: 100%;
  position: absolute;
  z-index: 99;
  .content {
    width: 100%;
    height: 88px;
    .content-item {
      .title {
        margin: 22px 0 18px;
        font-size: 16px;
        color: #ced3db;
      }
      span {
        font-size: 12px;
        margin-bottom: 10px;
        margin-right: 35px;
        display: inline-block;
        white-space: pre-wrap;
        color: #50555d;
        a {
          color: #ced3db;
        }
      }
    }
    .about-us {
      padding-bottom: 0 !important;
    }
    .friendly-link {
      width: 1200px;
      margin: 0 auto;
    }
    .content-footer-link {
      ul {
        width: 292px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
        li {
          float: left;
          font-size: 12px;
          color: #ced3db;
          list-style-type: none;
        }
      }
    }
    .trademark {
      width: 100%;
      font-size: 12px;
      white-space: pre-wrap;
      display: block;
      margin-top: 10px;
      text-align: center;
      color: #ced3db;
      img {
        margin-top: -11px;
      }
    }
  }
  .footer-bodys {
    overflow: hidden;
    height: 88px;
    width: 100%;
    background: #2c333f;
    color: #50555d;
    .gate {
      padding-top: 20px;
      .noline {
        border: none;
      }
      li:hover {
        color: #2cb82c;
      }
    }
    li {
      color: #ced3db;
      font-size: 12px;
      cursor: pointer;
      span{
        color:#50555d;
        margin:0!important;
        padding:0 12px;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
      }
    }
    p {
      float: left;
      font-size: 12px;
      line-height: 24px;
    }
  }
}

.indexFooter {
  .footer-bodys {
    .gate {
      li {
        color: #ced3db;
      }
      .noline {
        border-right: none;
      }
    }
    .trademark {
      color: #ced3db;
    }
  }
}
/*�Ҳ����*/
.rightSide{
  position: absolute;
  width: 40px;
  top:372px;
  left:1210px;
  z-index:100;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  .zxCenter{
      position: relative;
  }
  .consult_center, .online_consult, .phone_consult ,.sideWeixinBox,.sideWeiboBox,.feedback,.h_top{
    background-color:#fff;
    display: block;
    width:40px;
    height:40px;
    padding:10px;
    a {
      text-decoration: none;
    }
    em{
      display:block;
    }
    span{
      display:inline-block;
      color:#fff;
      font-size:14px;
    }
    &:hover{
      background-color:#5fcd5a!important;
    }
  }
  .online_consult ,.feedback{
    position:relative;
    padding-left:8px;
    transform-origin: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    a {
      height: 30px;
    }
    span {
      float:left;
      padding-right:10px;
    }
    em{
      float:right;
      width:24px;
      height:20px;
    }
    .online_consult_hover,.feedback_hover{
      position:absolute;
      top:0;
      right:0;
      width:110px;
      height:40px;
      display:none;
      background-color:#5fcd5a;
      span {
        float:left;
        color: #fff;
        font-size: 14px;
        padding:0 10px;
        line-height:40px;
      }
      em{
        margin:10px;
        margin-left:0;
      }
    }
  }
  .online_consult{
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    em{
      background:url('../images/header/zaixianzixun.png')no-repeat center center;
    }
    &:hover .online_consult_hover{
      display:block;
    }
  }

  .online_consult_hover{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    em{
      background:url('../images/header/zaixianzixun_hover.png')no-repeat center center;
    }
  }
  .feedback{
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    em{
      background:url('../images/header/yijian_moren.png')no-repeat center center;
    }
    &:hover .feedback_hover{
      display:block;
    }
  }
  .feedback_hover{
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    em{
      background:url('../images/header/yijian_hover.png')no-repeat center center;
    }
  }
  .phone_consult {
    position:relative;
    em{
      float:right;
      width: 22px;
      height:22px;
      background:url('../images/header/dianhua.png')no-repeat center center;
    }
    .phone_consult_hover{
      position:absolute;
      top:0;
      right:0;
      width:150px;
      height:40px;
      display:none;
      background-color:#5fcd5a;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-border-top-left-radius: 8px;
      -moz-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      .phone_number {
        float:left;
        color: #fff;
        font-size: 14px;
        padding:0 10px;
        line-height:40px;
      }
      em{
        margin:10px;
        margin-left:0;
        background:url('../images/header/dianhua_hover.png')no-repeat center center;
      }
    }
    &:hover .phone_consult_hover{
      display:block;
    }
  }
  .sideWeixinErma,.sideWeiboErma{
    position:absolute;
    z-index:10;
    padding:10px 10px 4px 10px;
    display:none;
    background-color:#fff;
    border:1px solid #e4e4e4;
    right: 50px;
    bottom: 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    >img{
      width:58px;
      display:block;
    }
    p{
      text-align:center;
      font-size:12px;
      color:#999;
      margin:0;
      line-height: 20px;
    }
    .sideSanjiao,.sideSanjiao1{
      position:absolute;
      right: -10px;
      top: 25px;
    }
  }
  .sideWeiboErma{
    bottom:0px;
    display:none;
  }
  .sideWeixinBox{
    position:relative;
    .sideWeixin{
      em{
        width: 22px;
        height:18px;
        background:url('../images/header/weixin.png')no-repeat center center;
      }
    }
    &:hover em{
      background:url('../images/header/weixin_hover.png')no-repeat center center;
    }
  }
  .sideWeiboBox{
    bottom: 184px;
    cursor:pointer;
    .sideWeibo{
      width:100%;
      height:100%;
      em{
        display:block;
        width: 22px;
        height:19px;
        background:url('../images/header/weibo.png')no-repeat center center;
      }
    }
    &:hover em{
      background:url('../images/header/weibo_hover.png')no-repeat center center;
    }
  }
  .h_top {
    background-color: #fff;
    overflow: hidden;
    display: none;
    cursor: pointer;
    margin-top:10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 30px;
    em{
      width: 22px;
      height:19px;
      background:url('../images/header/top.png')no-repeat center center;
    }
    &:hover em{
      background:url('../images/header/top_hover.png')no-repeat center center;
    }
  }
}


