html,
body {
  font-family: 'Microsoft YaHei' !important;
  font-size: 12px;
  background-color: #f7f7f7;
}
body,
html,
p,
ul,
li,
a,
img {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: inline-block;
  border: none;
  outline: none;
}
/*ȥ��IE���Զ����ֵ�С���*/
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
}
input {
  outline: none;
  border: none;
  font-family: "microsoft yahei";
}
.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
  background: url("/web/images/loginRegister/bgImg.png");
}
.rTips {
  min-width: 200px;
  height: 62px;
  position: fixed;
  padding: 0 10px;
  z-index: 9999;
  top: 40%;
  left: 50%;
  margin-left: -106px;
  margin-top: -31px;
  line-height: 62px;
  background: #000;
  filter: alpha(opacity=50);
  /*ie*/
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  display: none;
}
.existingAccount {
  width: 130px;
  margin: 17px auto 44px;
}
.existingAccount span {
  font-size: 14px;
  color: #999;
}
.existingAccount .atOnceLogin {
  color: #2cb82c;
  cursor: pointer;
}
.wordHit {
  margin: 3px 0;
  position: absolute;
  min-width: 117px;
  height: 17px;
  display: none;
}
.wordHit img {
  margin-right: 5px;
}
.wordHit .HitWord {
  font-size: 12px;
  color: #ff4012;
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
}
#resetPasswordBox .login-logImg {
  width: 460px;
  margin: 160px auto 0;
  position: relative;
}
#resetPasswordBox .login-logImg .leftline,
#resetPasswordBox .login-logImg .rightline {
  width: 134px;
  border-bottom: 1px solid #ddd;
}
#resetPasswordBox .login-logImg .logo {
  position: absolute;
  width: 152px;
  height: 51px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#resetPasswordBox .login-logImg .leftline {
  float: left;
}
#resetPasswordBox .login-logImg .rightline {
  float: right;
}
#resetPasswordBox .resetPassword {
  width: 460px;
  padding-bottom: 47px;
  margin: 65px auto 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 1px #e4e4e4;
  -moz-box-shadow: 0px 0px 2px 2px #e4e4e4;
  box-shadow: 0px 0px 2px 1px #e4e4e4;
}
#resetPasswordBox .resetPassword .resetPasswordTitle {
  font-size: 20px;
  color: #333;
  text-align: center;
  padding-top: 22px;
}
#resetPasswordBox .resetPassword .resetPasswordWays {
  display: none;
}
#resetPasswordBox .resetPassword .resetPasswordWays .viaPhoneNumber,
#resetPasswordBox .resetPassword .resetPasswordWays .viaEmail {
  font-size: 20px;
  color: #fff;
  background-color: #2cb82c;
  text-align: center;
  height: 46px;
  line-height: 46px;
  width: 310px;
  margin: 0 auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .resetPasswordWays .viaPhoneNumber:hover,
#resetPasswordBox .resetPassword .resetPasswordWays .viaEmail:hover {
  background: #28A528;
}
#resetPasswordBox .resetPassword .resetPasswordWays .viaPhoneNumber {
  margin-top: 22px;
}
#resetPasswordBox .resetPassword .resetPasswordWays .viaEmail {
  margin-top: 30px;
}
#resetPasswordBox .resetPassword .phoneNumberBox,
#resetPasswordBox .resetPassword .emilaAccountBox,
#resetPasswordBox .resetPassword .comfirePasswordBox {
  padding: 22px 75px 0;
  position: relative;
  display: none;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword {
  position: relative;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .resetusername,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .resetusername,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .resetusername,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .resetusername,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .resetusername,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .resetusername,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .resetusername,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .resetusername,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .resetusername,
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .newPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .newPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .newPassword,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .newPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .newPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .newPassword,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .newPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .newPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .newPassword,
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .againNewPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .againNewPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .againNewPassword,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .againNewPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .againNewPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .againNewPassword,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .againNewPassword,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .againNewPassword,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .againNewPassword {
  width: 310px;
  height: 46px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-size: 14px;
  padding: 6px 12px;
  color: #333;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .resetUsernameClose,
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .resetPasswordClose {
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 19px;
  display: none;
  background: url("/web/images/index/delete.png") no-repeat center center;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameBox .resetPasswordClose,
#resetPasswordBox .resetPassword .phoneNumberBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .newPasswordBox .resetPasswordClose,
#resetPasswordBox .resetPassword .phoneNumberBox .againComfirPassword .resetPasswordClose,
#resetPasswordBox .resetPassword .emilaAccountBox .againComfirPassword .resetPasswordClose,
#resetPasswordBox .resetPassword .comfirePasswordBox .againComfirPassword .resetPasswordClose {
  top: 38px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetImgBox,
#resetPasswordBox .resetPassword .emilaAccountBox .resetImgBox,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetImgBox {
  margin-top: 20px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetImgBox .resetImg,
#resetPasswordBox .resetPassword .emilaAccountBox .resetImgBox .resetImg,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetImgBox .resetImg {
  float: left;
  box-sizing: border-box;
  width: 200px;
  height: 46px;
  padding: 6px 12px;
  background-color: #f6f6f6;
  font-size: 14px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetImgBox .cyResetPasswordbutton,
#resetPasswordBox .resetPassword .emilaAccountBox .resetImgBox .cyResetPasswordbutton,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetImgBox .cyResetPasswordbutton {
  float: right;
  width: 105px;
  height: 46px;
  background-color: #2cb82c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 46px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetImgBox .enable,
#resetPasswordBox .resetPassword .emilaAccountBox .resetImgBox .enable,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetImgBox .enable {
  pointer-events: none;
  cursor: default;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameCode,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameCode,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameCode {
  margin-top: 20px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameCode .resetcode,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameCode .resetcode,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameCode .resetcode {
  float: left;
  box-sizing: border-box;
  width: 200px;
  height: 46px;
  padding: 6px 12px;
  background-color: #f6f6f6;
  font-size: 14px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameCode .cyResetPasswordbutton,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameCode .cyResetPasswordbutton,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameCode .cyResetPasswordbutton {
  float: right;
  width: 105px;
  height: 46px;
  background-color: #2cb82c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 46px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetUsernameCode .enable,
#resetPasswordBox .resetPassword .emilaAccountBox .resetUsernameCode .enable,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetUsernameCode .enable {
  pointer-events: none;
  cursor: default;
}
#resetPasswordBox .resetPassword .phoneNumberBox .nextStep,
#resetPasswordBox .resetPassword .emilaAccountBox .nextStep,
#resetPasswordBox .resetPassword .comfirePasswordBox .nextStep,
#resetPasswordBox .resetPassword .phoneNumberBox .resetPaswordComplete,
#resetPasswordBox .resetPassword .emilaAccountBox .resetPaswordComplete,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetPaswordComplete {
  width: 310px;
  height: 46px;
  background-color: #2cb82c;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 46px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 40px 0 15px 0;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .phoneNumberBox .nextStep:hover,
#resetPasswordBox .resetPassword .emilaAccountBox .nextStep:hover,
#resetPasswordBox .resetPassword .comfirePasswordBox .nextStep:hover {
  background: #28A528;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetPasswordbyEmail,
#resetPasswordBox .resetPassword .emilaAccountBox .resetPasswordbyEmail,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetPasswordbyEmail {
  margin: 17px auto 44px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetPasswordbyEmail .existingAccount,
#resetPasswordBox .resetPassword .emilaAccountBox .resetPasswordbyEmail .existingAccount,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetPasswordbyEmail .existingAccount {
  float: left;
  margin: 0px;
}
#resetPasswordBox .resetPassword .phoneNumberBox .resetPasswordbyEmail .byEmail,
#resetPasswordBox .resetPassword .emilaAccountBox .resetPasswordbyEmail .byEmail,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetPasswordbyEmail .byEmail,
#resetPasswordBox .resetPassword .phoneNumberBox .resetPasswordbyEmail .byPhoneNumber,
#resetPasswordBox .resetPassword .emilaAccountBox .resetPasswordbyEmail .byPhoneNumber,
#resetPasswordBox .resetPassword .comfirePasswordBox .resetPasswordbyEmail .byPhoneNumber {
  float: right;
  font-size: 14px;
  color: #2cb82c;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .resetPasswordWays {
  display: block;
}
#resetPasswordBox .resetPassword .comfirePasswordBox .againNewPassword {
  margin-top: 20px;
}
#resetPasswordBox .resetPassword .emailSendSuccessBox {
  padding: 14px 50px 0;
  display: none;
}
#resetPasswordBox .resetPassword .emailSendSuccessBox .emailSendSuccess {
  text-align: center;
}
#resetPasswordBox .resetPassword .emailSendSuccessBox .emailSendSuccess span {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
#resetPasswordBox .resetPassword .emailSendSuccessBox .emailSendSuccess .loginEmial {
  color: #2cb82c;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .other-login-box {
  width: 460px;
}
#resetPasswordBox .resetPassword .other-login-box span {
  font-size: 16px;
  width: 460px;
  color: #bbb;
  text-align: center;
  display: inline-block;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways {
  width: 170px;
  margin: 20px auto 0;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .qq-login,
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .weixin-login {
  width: 60px;
  height: 60px;
  float: left;
  display: inline-block;
  cursor: pointer;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .qq-login {
  background: url("/web/images/loginRegister/QQ.png") no-repeat;
  margin-right: 40px;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .qq-login:hover {
  background: url("/web/images/loginRegister/QQHover.png") no-repeat;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .weixin-login {
  background: url("/web/images/loginRegister/weixin.png") no-repeat;
}
#resetPasswordBox .resetPassword .other-login-box .other-login-ways .weixin-login:hover {
  background: url("/web/images/loginRegister/weixinHover.png") no-repeat;
}
#resetPasswordBox .resetUsernameCode .resetVificationHit {
  top: 205px!important;
}
