@charset "UTF-8";
@keyframes arrowAnimotion {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  30% {
    transform: translateY(40px);
  }
  55% {
    transform: translateY(50px);
  }
  60% {
    transform: translateY(40px);
  }
  85% {
    transform: translateY(50px);
  }
  90% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@-webkit-keyframes arrowAnimotion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@-ms-keyframes arrowAnimotion {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
/*titleChange动画*/
@keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-o-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-ms-keyframes titleChange {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/*wordsChange动画*/
@keyframes wordsChange {
  0% {
    transform: translateY(3400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes wordsChange {
  0% {
    -moz-transform: translateY(3400px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes wordsChange {
  0% {
    -webkit-transform: translateY(3400px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-o-keyframes wordsChange {
  0% {
    -o-transform: translateY(3400px);
  }
  100% {
    -o-transform: translateY(0px);
  }
}
@-ms-keyframes wordsChange {
  0% {
    -ms-transform: translateY(3400px);
  }
  100% {
    -ms-transform: translateY(0px);
  }
}
html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.header {
  width: 100%;
  min-width: 1200px;
  height: 75px;
  background-color: #333;
  overflow: hidden;
}
.header .headerBody {
  margin: 0 auto;
  height: 75px;
  position: relative;
}
.header .headerBody .name {
  color: #fff;
  float: left;
  line-height: 75px;
  padding: 0 20px;
  margin-left: 50px;
  font-size: 16px;
}
.header .headerBody .gg {
  margin-left: 200px;
  font-size: 14px;
  color: #333;
  left: 50%;
  background: #fff;
  display: block;
  height: 55px;
  top: 10px;
  width: 490px;
  margin-left: -390px;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  line-height: 55px;
}
.header .headerBody .gg .iconfont {
  float: right;
  margin-right: 10px;
  font-size: 12px;
  right: 10px;
  cursor: pointer;
}
.header .headerBody .gg a {
  border-radius: 2px;
  margin-top: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #2CB82C;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 6px;
}
.header .headerBody .mess {
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
  background: #2e2f30;
  height: 75px;
  color: #fff;
  line-height: 75px;
}
.header .headerBody .mess .kc {
  display: block;
  float: left;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 20px;
  max-width: 160px;
}
.header .headerBody .mess .js {
  float: left;
  margin-left: 10px;
  font-size: 12px;
}
.header .headerBody .mess .js i {
  font-style: normal;
}
.videoBody {
  background-color: #f7f7f7;
  width: 100%;
  margin-bottom: 40px;
}
.videoBody .videoBody-top {
  width: 100%;
  height: 750px;
  background-color: black;
}
.videoBody .videoBody-top object {
  width: 100%!important;
  height: 100%!important;
}
.videoBody .videoBody-top object embed {
  width: 100%!important;
  height: 100%!important;
}
.videoBody .videoBody-top .videoBody-video {
  position: relative;
  padding-right: 290px;
}
.videoBody .videoBody-top .videoBody-video .shadowJiaZai {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
}
.videoBody .videoBody-top .videoBody-video .loadImg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -25px;
  display: none;
}
.videoBody .videoBody-top .videoBody-video div {
  height: 100%!important;
}
.videoBody .videoBody-top .videoBody-menuList {
  max-width: 290px;
  position: absolute;
  right: 0;
  top: 75px;
  height: 750px;
  z-index: 1;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-menuButton {
  width: 50px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: #2CB82C;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -30px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-menuButton img {
  width: 15px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-menuButton span {
  font-size: 12px;
  color: #ffffff;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 290px;
  height: 100%;
  float: left;
  background-color: #202123;
  padding-top: 20px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list p {
  padding: 0 20px;
  color: #ccc;
  font-size: 13px;
  line-height: 32px;
  margin: 0;
  cursor: pointer;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list {
  overflow: hidden;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .sj {
  color: #ccc;
  display: block;
  float: left;
  margin-left: 30px;
  font-size: 13px;
  margin-top: -1px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .sj .iconfont {
  font-size: 13px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .hoverBorder {
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;
  background-color: #303030;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .hoverBorder .sj {
  color: #2CB82C;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .hoverBorder p {
  color: #2CB82C;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .yesMoney:hover {
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;
  background-color: #303030;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .yesMoney:hover .sj {
  color: #2CB82C;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list .yesMoney:hover p {
  color: #2CB82C;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list div {
  padding: 0 20px 0 35px;
  color: #ccc;
  font-size: 12px;
  line-height: 36px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #202123;
  border-top: 1px solid #202123;
  overflow: hidden;
  width: 100%;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list div .freeTable {
  color: #ff8710;
  float: right;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list div img {
  float: right;
  margin-top: 14px;
}
.videoBody .videoBody-top .videoBody-menuList .videoBody-list .freeTable-list div .hoverBorder {
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;
  color: #2CB82C;
  background-color: #303030;
}
.videoBody .videoBody-bottom {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.videoBody .videoBody-bottom .videoBody-bottom-left {
  background-color: #ffffff;
  width: 880px;
  padding: 20px 25px 25px;
  float: left;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-title {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 0;
  height: 37px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-title span {
  color: #2CB82C;
  padding: 0 10px 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #2CB82C;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release {
  margin-top: 30px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release p {
  font-size: 12px;
  color: #333;
  overflow: hidden;
  margin-bottom: 0;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release p .releaseStars img {
  vertical-align: text-top;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release p .starText {
  font-size: 14px;
  color: #333;
  margin-left: 5px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release p .getRelease {
  color: #ffffff;
  height: 42px;
  width: 100px;
  text-align: center;
  background-color: #2CB82C;
  float: right;
  line-height: 42px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-release textarea {
  width: 100%;
  height: 126px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 14px;
  color: #bbb;
  padding: 10px;
  background-color: #fafafa;
  outline: none;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .freeNull {
  width: 100%;
  min-height: 540px;
  text-align: center;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .freeNull img {
  margin-top: 90px;
  margin-bottom: 20px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .freeNull p {
  color: #333333;
  font-size: 14px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease {
  padding: 20px 0;
  border-bottom: 1px dashed #e4e4e4;
  overflow: hidden;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-left {
  float: left;
  margin-right: 30px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-left img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-left p {
  text-align: center;
  width: 58px;
  overflow: hidden;
  font-size: 12px;
  color: #333;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right {
  width: 742px;
  float: left;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseStar {
  margin: 0;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseText {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0 12px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseGood {
  width: 100%;
  clear: both;
  line-height: 12px;
  font-size: 12px;
  float: right;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseGood .releaseTime {
  float: left;
  color: #999;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseGood .wqz {
  float: right;
  margin: 0;
  padding: 0;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseOffice {
  clear: both;
  overflow: hidden;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseOffice .office_a {
  margin-top: 16px;
  font-size: 14px;
  color: #2CB82C;
  display: block;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseOffice .office_b {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
}
.videoBody .videoBody-bottom .videoBody-bottom-left .videoBody-bottom-left-list .videoBody-bottom-listRelease .videoBody-bottom-listRelease-right .releaseOffice .office_c {
  margin-top: 7px;
  display: block;
  color: #999;
  font-size: 12px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right {
  width: 290px;
  float: left;
  margin-left: 30px;
  background-color: #ffffff;
  padding: 20px 0 25px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .haveNull {
  width: 100%;
  text-align: center;
  min-height: 539px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .haveNull img {
  margin-top: 90px;
  margin-bottom: 20px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .haveNull p {
  color: #333333;
  font-size: 14px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-title {
  font-size: 16px;
  color: #333333;
  padding: 0 20px 15px;
  border-bottom: 1px solid #eee;
  margin: 0;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-list {
  padding: 0 20px;
  overflow: hidden;
  margin-top: 20px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-list img {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 15px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-list .videoBody-bottom-right-list-title {
  color: #333;
  font-size: 14px;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-list .videoBody-bottom-right-list-text {
  font-size: 12px;
  color: #333;
}
.videoBody .videoBody-bottom .videoBody-bottom-right .videoBody-bottom-right-list .videoBody-bottom-right-list-text span {
  color: #2CB82C;
  margin-right: 5px;
}
.videomodal1 {
  width: 400px;
  height: 330px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  z-index: 3;
  top: 190px;
  left: 50%;
  margin-left: -190px;
  text-align: center;
}
.videomodal1 .ku {
  margin-top: 47px;
  margin-bottom: 20px;
}
.videomodal1 .nopurchase-close {
  margin-bottom: 0;
  overflow: hidden;
}
.videomodal1 .nopurchase-close img {
  float: right;
  cursor: pointer;
}
.videomodal1 .nopurchase-title {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  line-height: 14px;
}
.videomodal1 .nopurchase-body {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 35px;
  color: #2CB82C;
}
.videomodal1 span {
  text-align: center;
  padding: 10px 22px;
  line-height: 42px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2CB82C;
  cursor: pointer;
}
.videomodal2 {
  width: 400px;
  height: 268px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  z-index: 3;
  top: 190px;
  left: 50%;
  margin-left: -190px;
  text-align: center;
}
.videomodal2 .ku {
  margin-top: 36px;
  margin-bottom: 20px;
}
.videomodal2 .nopurchase-close {
  margin-bottom: 0;
  overflow: hidden;
}
.videomodal2 .nopurchase-close img {
  float: right;
  cursor: pointer;
}
.videomodal2 .nopurchase-title {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  line-height: 14px;
}
.videomodal2 .nopurchase-body {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 35px;
  color: #2CB82C;
}
.videomodal2 span {
  text-align: center;
  padding: 10px 23px;
  line-height: 42px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2CB82C;
  cursor: pointer;
}
.backgrounds1 {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: #000;
  opacity: 0.5;
}
.backgrounds2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: black;
  opacity: 0.5;
}
.getNextPlay {
  padding: 0 10px;
  color: #333;
  background-color: #fff;
  position: absolute;
  right: 520px;
  bottom: -2px;
  cursor: pointer;
}
