a {
  text-decoration: none !important;
}
.tabbar {
  border-bottom: 1px solid #D4D4D4;
  position: relative;
}
.tabbar .btn-item {
  display: inline-block;
  padding: 28px 10px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #333333;
  margin-right: 15px;
  margin-bottom: -1px;
}
.tabbar .cur {
  border-bottom: 1px solid #2CB82C;
}
.nolessonBox {
  width: 100%;
  height: 100%;
  display: block;
}
.lessonBox {
  width: 105%;
  height: 100%;
}
.lessonBox .lesson {
  width: 217px;
  margin-top: 20px;
  margin-right: 18px;
  float: left;
}
.lessonBox .lesson a:hover {
  -webkit-box-shadow: 1px 1px 4px 1px #ddd;
  -moz-box-shadow: 1px 1px 4px 1px #ddd;
  box-shadow: 1px 1px 4px 1px #ddd;
}
.lessonBox .lesson .lessonImg {
  width: 217px;
  height: 120px;
}
.lessonBox .lesson .lessonImg img {
  width: 100%;
  height: 100%;
}
.lessonBox .lesson .lessonNews {
  overflow: hidden;
  width: 217px;
  border: 1px solid #E4E4E4;
  border-top: none;
  height: 70px;
  padding-left: 10px;
}
.lessonBox .lesson .lessonNews .lessonTitle {
  font-size: 14px;
  color: #333;
  margin-top: 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.lessonBox .lesson .lessonNews .lessonMess {
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  overflow: hidden;
}
.lessonBox .lesson .lessonNews .lessonMess img {
  margin-top: -2px;
  margin-right: 8px;
}
.lessonBox .lesson .lessonNews .lessonMess .MessLeft {
  display: block;
  float: left;
}
.lessonBox .lesson .lessonNews .lessonMess .MessRight {
  display: block;
  float: right;
  margin-right: 10px;
}
.noLesson {
  display: block;
  margin: 160px auto 0;
}
.noLesson-mess {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #999;
}
