
<meta http-equiv="X-UA-Compatible" content="IEedge"/>
<meta charset="UTF-8">
<title>博学谷云课堂 - 年轻人在线IT课堂</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta name="keywords"
      content="Java培训,Android培训,安卓培训,PHP培训,C++培训,iOS培训,网页设计培训,平面设计培训,UI设计培训,游戏开发培训,移动开发培训,网络营销培训,web前端培训"/>
<meta name="description"
      content="博学谷云课堂为传智播客旗下在线教育品牌，将积累10年的实体班线下课程和教学方法引到线上。课程大纲全新优化，内容有广度、有深度，顶尖讲师全程直播授课。专注整合传智优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。"/>
<meta name="renderer" content="webkit">
<meta name="baidu-site-verification" content="UHaAQAeAQF"/>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/mylogin.css?v=170517"/>
<link rel="stylesheet" href="/stylesheets/componet.css?v=170517"/>
<link rel="stylesheet" href="/stylesheets/index.css?v=170517"/>
<link rel="stylesheet" href="/stylesheets/header.css?v=170517"/>
<link rel="stylesheet" href="/stylesheets/footer.css?v=170517"/>
<link rel="stylesheet" href="/font/iconfont.css?v=170517"/>

<script src="/javascripts/app/jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/app/artTemplate.js"></script>
<script type="text/javascript" src="/javascripts/app/jquery.SuperSlide.2.1.1.js"></script>
<script src="/javascripts/app/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/md5.js" type="text/javascript" charset="UTF-8"></script>
<script src="/javascripts/app/html5.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/app/helpers.js?v=170517"></script>
<script src="/javascripts/app/ajax.js?v=170517" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/header.js?v=170517" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/jquery.dotdotdot.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app/jquery.pagination.js"></script>
<script type="text/javascript" src="/javascripts/app/footer.js"></script>